body {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-style: normal;
    margin: 0;
}

.container {
    background: #141B23 url(../img/bg.png) top right no-repeat;
    min-height: 100vh;
    color: white;
    padding: 50px 54px 48px;
}

.header-nav a{
    text-decoration: none;
    color: #B1BBCB;
    font-size: 17px;
    opacity: 0.87;
    display: inline-block;
    margin-right: 25px;
}

.header-nav a.active {
    color: white;
    opacity: 1;
}

.main-content {
    margin-left: 42px;
    margin-top: 83px;
    margin-bottom: 140px;
}

.main-content .title {
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    margin: 0 0 3px;
}

.main-content .text {
    font-size: 13px;
    line-height: 18px;
    margin: 0 0 25px;
    max-width: 451px;
}

.footer-text {
    font-size: 12px;
    line-height: 14px;
    opacity: 0.27;
}