body {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-style: normal;
    margin: 0;
}

.container {
    background: #141B23 url(../img/bg.png) top right no-repeat;
    min-height: 100vh;
    color: white;
    padding: 50px 54px 48px;
}

.container-album {
    min-height: 100vh;
    color: white;
    padding: 50px 54px 48px;
    background-color: #141B23;
}

.header-nav a{
    text-decoration: none;
    color: #B1BBCB;
    font-size: 17px;
    opacity: 0.87;
    display: inline-block;
    margin-right: 25px;
}

.header-nav a.active {
    color: white;
    opacity: 1;
}

.main-content {
    margin-left: 42px;
    margin-top: 83px;
    margin-bottom: 140px;
}

.main-content .title {
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    margin: 0 0 3px;
}

.main-content .album-title {
    font-weight: 500;
    font-size: 35px;
    line-height: 29px;
    text-align: center;
    margin-bottom: 50px;
}

.main-content .text {
    font-size: 13px;
    line-height: 18px;
    margin: 0 0 25px;
    max-width: 451px;
}

.main-content-auhor {
    margin-left: 42px;
    margin-top: 83px;
    margin-bottom: 100px;
}

.text-author {
    font-size: 16px;
    line-height: 18px;
    margin: 0 0 25px;
    padding-top: 320px;
}

.footer-text {
    font-size: 12px;
    line-height: 14px;
    opacity: 0.27;
}

.sign {
    float: left; 
    border: 1px solid #333;
    padding: 7px;
    margin: 10px 25px 10px 5px;
    background: #ffffff;
}

.sign p img {
    max-height: 324px;
}

.sign figcaption {
    text-align: center;
    color: #141B23;
    margin: 0 auto 5px;
}