body {
    background-color: rgb(216, 216, 216);
}

p {
    font-size: 18px;
}

p a img {
    margin: 0 5 0 5;
}

li {
    font-size: 18px;
}

img.main_photo {
    float: right;
    margin-left: 50px;
}

.about {
    margin: 0 50 0 50;
}