body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

button {
  border: none;
  color: transparent;
  text-align: center;
  font-family: 'TT Norms Bold';
  font-size: 14px;
}

.show-modal {
  pointer-events: none;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
}

.container-second {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 60px;
}

.container-third {
  max-width: 1435px;
  margin: 0 auto;
  padding: 0 170px;
}

.flex-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-between-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-center-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flex-start-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-column-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.txt--accent {
  color: #F0145A;
}

.txt--black {
  color: #000000;
}

.txt--white {
  color: #FFFFFF;
}

.txt--m-reg {
  color: #323264;
}

.txt--m-alt {
  color: #46466E;
}

.txt--m-soft {
  color: #686887;
}

.txt--act-reg {
  color: #24A3FF;
}

.txt--act-hov {
  color: #0085FF;
}

.txt--act-act {
  color: #006CCF;
}

.txt--g-bg {
  color: #F5F5FA;
}

.txt--g-bg-alt {
  color: #EDEDF7;
}

.txt--g-text {
  color: #B3B3BA;
}

.txt--g-sep {
  color: #E6E6F0;
}

.txt--gr-red {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
}

.txt--gr-red-rev {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
}

.txt--center {
  text-align: center;
}

.txt--right {
  text-align: right;
}

.txt--uppercase {
  text-transform: uppercase;
}

.hero {
  font-family: 'TT Norms Bold';
  font-size: 42px;
  line-height: 50px;
}

.hero-mob {
  font-family: 'TT Norms Bold';
  font-size: 32px;
  line-height: 38px;
}

.h-1 {
  font-family: 'TT Norms Medium';
  font-size: 38px;
  line-height: 45px;
  font-weight: 300;
}

.h-2 {
  font-family: 'TT Norms Medium';
  font-size: 32px;
  line-height: 38px;
}

.h-2-mob {
  font-family: 'TT Norms Medium';
  font-size: 22px;
  line-height: 26px;
}

.h-3 {
  font-family: 'TT Norms Medium';
  font-size: 24px;
  line-height: 28px;
}

.h-3-mob {
  font-family: 'TT Norms Medium';
  font-size: 18px;
  line-height: 21px;
}

.h-3-caps {
  font-family: 'TT Norms Bold';
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}

.h-4 {
  font-family: 'TT Norms Medium';
  font-size: 18px;
  line-height: 21px;
}

.p {
  font-family: 'TT Norms Regular';
  font-size: 18px;
  line-height: 26px;
}

.p-min {
  font-family: 'TT Norms Regular';
  font-size: 18px;
  line-height: 22px;
}

.intro {
  font-family: 'TT Norms Regular';
  font-size: 21px;
  line-height: 30px;
}

.bgc-gradient-1 {
  background: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
}

.bgc-gradient-2 {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
}

.bgc-grey {
  background-color: #F5F5FA;
}

.bgc-white {
  background-color: #FFFFFF;
}

.bgc-shadow-1 {
  background: #CACADB;
  border-radius: 0px 0px 12px 12px;
}

.bgc-shadow-2 {
  background: #E7E7F2;
  border-radius: 0px 0px 12px 12px;
}

.padding-20 {
  padding: 20px;
}

.border-grey {
  height: 4px;
  background-color: #E6E6F0;
}

.main-header {
  padding-top: 50px;
}

.header-info__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.languages {
  font-family: 'TT Norms Bold';
  font-size: 12px;
  line-height: 14px;
}

.languages .language {
  padding: 5px;
  cursor: pointer;
  border-radius: 8px;
}

.languages .active-lang, .languages span:hover {
  background-color: #F0145A;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #FFFFFF;
}

.dot-sep {
  width: 7px;
  height: 7px;
  background-color: #E6E6F0;
  border-radius: 50%;
  margin: 0 10px;
}

.adress {
  font-family: 'TT Norms Regular';
  font-size: 16px;
  font-weight: 400;
}

.number {
  font-family: 'TT Norms Bold';
  font-size: 16px;
}

.fb {
  pointer-events: none;
}

.main-nav {
  margin-top: 19px;
}

.main-nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-nav-item {
  font-family: 'TT Norms Medium';
  font-size: 18px;
}

.main-nav-item .active-nav, .main-nav-item li > a:hover {
  border-bottom: 2px solid #F0145A;
  color: #F0145A;
  padding-bottom: 2px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main-nav-item :hover {
  color: #F0145A;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.main-nav-link {
  margin-right: 15px;
}

.main-nav-link :last-child {
  margin-right: 0;
}

.topbar-mobile {
  padding: 20px 0 10px 0;
}

.main-nav-mob ul li a {
  color: #24A3FF;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.main-nav-mob ul li a:hover,
.main-nav-mob ul li a.active {
  color: #F0145A;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.main-nav-mob #icon {
  cursor: pointer;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.main-nav-mob #icon svg {
  color: #FFFFFF;
  height: 28px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.main-nav-mob #checkbox,
.main-nav-mob #icon {
  display: none;
}

.main-nav-mob #icon:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.main-nav-mob-item .active-nav, .main-nav-mob-item li > a:hover {
  color: #F0145A;
  padding-bottom: 2px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.slider__item {
  width: 16px;
  height: 16px;
  background-color: #24A3FF;
  border-radius: 50%;
  margin-right: 14px;
}

.slider__item:last-child {
  margin-right: 0px;
}

.slider .active-slider, .slider div:hover {
  background-color: #006CCF;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.slider__item:hover {
  cursor: pointer;
  background-color: #0085FF;
}

.card-case {
  background-color: #F5F5FA;
  overflow: hidden;
  margin: 70px auto;
  border-radius: 12px;
}

.card-case__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-case__title {
  margin-bottom: 20px;
}

.card-case__col-1 {
  width: 32.80303%;
  min-height: 255px;
  border-bottom: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
}

.card-case__col-title {
  width: 100%;
  border-bottom: 1px solid #FFFFFF;
  padding: 20px;
}

.card-case__content {
  padding: 20px;
}

.card-case__col-2 {
  width: 34.39394%;
  min-height: 255px;
  border-bottom: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
}

.card-case__col-3 {
  width: 32.80303%;
  min-height: 255px;
  border-bottom: 1px solid #FFFFFF;
}

.card-case__col-4 {
  width: 24.24242%;
  min-height: 198px;
  border-bottom: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
}

.card-case__col-5 {
  width: 34.31818%;
  min-height: 198px;
  border-bottom: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
}

.card-case__col-6 {
  width: 41.43939%;
  min-height: 198px;
  border-bottom: 1px solid #FFFFFF;
}

.card-case .company--txt {
  margin-top: 20px;
}

.clients-grid__title {
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.clients-grid__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clients-grid__col {
  width: 25%;
  height: 120px;
}

.clients-grid .bg-client-1 {
  background: #1C4280;
}

.clients-grid .bg-client-2 {
  background: #143646;
}

.clients-grid .bg-client-3 {
  background: #F48B30;
}

.clients-grid .bg-client-4 {
  background: #9E4DC3;
}

.clients-grid .bg-client-5 {
  background: #FD9339;
}

.clients-grid .bg-client-6 {
  background: #E2E2E4;
}

.clients-grid .bg-client-7 {
  background: #C71C36;
}

.clients-grid .bg-client-8 {
  background: #DCF3F9;
}

.clients-grid .bg-client-9 {
  background: #EAEAEA;
}

.clients-grid .bg-client-10 {
  background: #282240;
}

.clients-grid .bg-client-11 {
  background: #1D4568;
}

.clients-grid .bg-client-12 {
  background: #000000;
}

.section-publications {
  position: relative;
  padding-top: 40px;
}

.section-publications .txt--title-pub1:hover {
  color: #F0145A;
}

.section-publications__pub-cards {
  margin-top: 40px;
  height: 720px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.section-publications .txt--pub-date {
  font-family: TT Norms;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  margin-top: 10px;
}

.section-publications .txt--pub-p {
  margin-top: 20px;
}

.section-publications__pub-card-1 {
  border-radius: 8px;
}

.section-publications__pub-card-2 {
  margin-top: 40px;
  border-radius: 8px;
}

.section-publications__pub-card-3 {
  border-radius: 8px;
}

.section-publications__pub-card-4 {
  margin-top: 40px;
  border-radius: 8px;
}

.section-publications__pub-card-5 {
  border-radius: 8px;
}

.section-publications__pub-card-6 {
  margin-top: 40px;
  border-radius: 8px;
}

.section-publications .border-grey {
  margin: 20px 0;
}

.btn {
  width: 250px;
  height: 50px;
  border-radius: 12px;
  cursor: pointer;
}

.btn-blue {
  background-color: #24A3FF;
  -webkit-box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
          box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
}

.btn-blue:hover {
  background-color: #0085FF;
  color: #FFFFFF;
}

.main-footer {
  padding: 32px 0 50px 0;
}

.main-footer__adress .txt--adress {
  font-family: 'TT Norms Regular';
  font-size: 16px;
  font-weight: 700;
}

.main-footer__adress .dot-footer {
  margin: 0 10px 0 30px;
  background-color: #B3B3BA;
}

.main-footer__adress .txt--map {
  font-family: TT Norms;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1px;
}

.main-footer__adress .txt--map:hover {
  color: #F0145A;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.main-footer__social {
  margin-top: 22px;
}

.main-footer__social .footer-fb-logo {
  pointer-events: none;
}

.main-footer__social .dot-footer-2 {
  margin: 0 10px;
  background-color: #B3B3BA;
}

.main-footer__social .txt--phone {
  font-family: 'TT Norms Bold';
  font-size: 16px;
}

.main-footer__social .txt--email {
  font-family: 'TT Norms Bold';
  font-size: 16px;
}

.main-footer__social .txt--email:hover {
  color: #F0145A;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.main-footer__copyright .txt--copyright {
  font-family: 'TT Norms Medium';
  font-size: 16px;
  font-weight: 400;
}

.dot-6x6 {
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

.arrow-1 {
  border: solid #FFFFFF;
  opacity: 0.5;
  margin-left: 5px;
}

.arrow-2 {
  border: solid #24A3FF;
  margin-left: 5px;
}

.arrow-right {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  cursor: pointer;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}

.team-case__item-titles .item-link h4:hover {
  color: #F0145A;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.team-case__item-titles h4 {
  margin-top: 20px;
}

.team-case__item-titles p {
  margin-top: 5px;
}

@font-face {
  font-family: 'TT Norms Regular';
  src: url("../../fonts/TT-Norms/TTNorms-Regular.eot");
  src: local("TT Norms Regular"), local("TTNorms-Regular"), url("../../fonts/TT-Norms/TTNorms-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/TT-Norms/TTNorms-Regular.woff2") format("woff2"), url("../../fonts/TT-Norms/TTNorms-Regular.woff") format("woff"), url("../../fonts/TT-Norms/TTNorms-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms Medium';
  src: url("../../fonts/TT-Norms/TTNorms-Medium.eot");
  src: local("TT Norms Medium"), local("TTNorms-Medium"), url("../../fonts/TT-Norms/TTNorms-Medium.eot?#iefix") format("embedded-opentype"), url("../../fonts/TT-Norms/TTNorms-Medium.woff2") format("woff2"), url("../../fonts/TT-Norms/TTNorms-Medium.woff") format("woff"), url("../../fonts/TT-Norms/TTNorms-Medium.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms Bold';
  src: url("../../fonts/TT-Norms/TTNorms-Bold.eot");
  src: local("TT Norms Bold"), local("TTNorms-Bold"), url("../../fonts/TT-Norms/TTNorms-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/TT-Norms/TTNorms-Bold.woff2") format("woff2"), url("../../fonts/TT-Norms/TTNorms-Bold.woff") format("woff"), url("../../fonts/TT-Norms/TTNorms-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: #fff;
  z-index: 1001;
}

.preloader__image {
  position: relative;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  background: url("../../preloader.gif") no-repeat center center;
  -webkit-animation: preloader-bounce 1s infinite ease-in-out;
          animation: preloader-bounce 1s infinite ease-in-out;
}

@-webkit-keyframes preloader-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes preloader-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.loaded_hiding .preloader {
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

.main-header .logo-subsection, .main-header-mobile .logo-subsection {
  padding-bottom: 15px;
}

.main-header .logo-subsection-2, .main-header-mobile .logo-subsection-2 {
  font-weight: 700;
}

.main-header .txt--logo, .main-header-mobile .txt--logo {
  font-family: 'TT Norms Regular';
  font-size: 38px;
}

.main-nav-mob #icon svg {
  color: #323264;
  height: 28px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.main-nav-mob .txt--logo-mob {
  font-family: 'TT Norms Regular';
  font-size: 19px;
}

.main-nav-mob .logo-subsection-2 {
  padding-bottom: 10px;
}

.main-section {
  margin-top: 80px;
}

.main-section__contact {
  margin-right: 150px;
  width: 298px;
}

.main-section__contact .txt--adress {
  margin-bottom: 20px;
}

.main-section__contact .txt--number {
  margin-top: 40px;
}

.main-section__contact .txt--email {
  display: block;
  margin: 20px 0 40px 0;
}

.main-section__contact .fb-item {
  margin-top: 20px;
}

.main-section__contact .txt--fb {
  margin-left: 10px;
  font-family: 'TT Norms Bold';
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1px;
}

.main-section__contact .txt--fb:hover {
  color: #F0145A;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.main-section__form .form-help {
  width: 527px;
  height: 576px;
  background-color: #F5F5FA;
  border-radius: 12px;
  padding: 20px;
}

.main-section__form .form-help input {
  border-radius: 8px;
  outline: none;
  border: none;
}

.main-section__form .form-help input::-webkit-input-placeholder {
  color: #B3B3BA;
}

.main-section__form .form-help input:-ms-input-placeholder {
  color: #B3B3BA;
}

.main-section__form .form-help input::-ms-input-placeholder {
  color: #B3B3BA;
}

.main-section__form .form-help input::placeholder {
  color: #B3B3BA;
}

.main-section__form .form-help .input-name {
  padding: 10px;
  margin-top: 20px;
}

.main-section__form .form-help .input-message {
  padding: 10px 0 140px 10px;
  margin-top: 20px;
}

.main-section__form .form-help .txt--h3 {
  margin: 20px 0 0 10px;
}

.main-section__form .form-help .input-number {
  padding: 10px;
  margin-top: 10px;
}

.main-section__form .form-help .input-email {
  padding: 10px;
  margin: 20px 0;
}

.main-section__form .form-help .btn[type=button] {
  font-family: 'TT Norms Bold';
  font-size: 14px;
}

.section-map {
  margin-top: 80px;
}

.section-map .map {
  text-align: center;
  width: 100%;
}

.section-map iframe {
  max-width: 100%;
}

@media (max-width: 993px) {
  .main-nav-mob .bgc-menu {
    position: fixed;
    width: 100%;
    height: calc(100% - 415px);
    background-color: #323264;
    opacity: 0.7;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  .main-nav-mob ul {
    position: fixed;
    width: 100%;
    background-color: #FFFFFF;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    display: none;
    z-index: 10;
    height: 415px;
    border-radius: 12px 12px 0px 0px;
    padding-top: 65px;
  }
  .main-nav-mob ul li {
    display: block;
    padding: 5px 20px;
  }
  .main-nav-mob ul li a {
    display: block;
    padding: 10px 0;
    font-family: 'TT Norms Medium';
    font-size: 24px;
  }
  .main-nav-mob #icon {
    display: block;
  }
  .main-nav-mob #checkbox:checked ~ ul {
    display: block;
  }
  .main-nav-mob .exit-menu {
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 10;
  }
  .main-nav-mob .exit-menu:hover {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  .main-nav-mob .exit-menu-btn {
    cursor: pointer;
    pointer-events: none;
  }
}

@media (max-width: 1000px) {
  .main-section .flex-center {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main-section__contact {
    padding: 0 20px;
    margin-right: 0px;
    width: 100%;
  }
  .main-section__form {
    margin: 0 auto;
    margin-top: 40px;
  }
}

@media (max-width: 753px) {
  .main-section__form h2 {
    font-family: 'TT Norms Medium';
    font-size: 22px;
  }
  .main-section__form .form-help {
    max-width: 375px;
  }
  .section-map {
    margin-top: 40px;
  }
}

@media (max-width: 876px) {
  .main-footer {
    padding-bottom: 0;
  }
  .main-footer .flex-between-start {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-footer__adress {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-footer__adress .txt--map {
    margin-top: 10px;
  }
  .main-footer__social {
    margin-top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-footer__social .footer-fb-logo {
    margin: 20px 0;
  }
  .main-footer__social .txt--email {
    margin: 20px 0;
  }
  .main-footer .dot-6x6 {
    display: none;
  }
  .main-footer__copyright {
    text-align: center;
  }
}
