@import 'variables';

.goods-title {
    display: flex;
    justify-content: center;
}

.goods {
    display: flex;
    justify-content: space-around;

    &__card {
        width: 460px;
        height: 820px;
        background: url($link-to-images + 'goods-bg-center.png') center no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;

        &--narrow {
            width: 400px;
            background: white;
        }
    }

    &__card-inner {
        width: 411px;
        height: 765px;
        border: 3px solid #FFFFFF;
        position: relative;
        transition: all 0.7s;

        &:hover {
            border: none;
            background: rgba(0, 0, 0, 0.24);

            .goods__card-btn {
                display: block;
            }
        }
    }

    &__card-btn {
        display: none;
        width: 109px;
        height: 42px;
        font-size: 15px;
        font-weight: 700;
        border: none;
        position: absolute;
        top: 685px;
        left: 50%;
        transform: translateX(-50%);
        transition: all 0.7s;

        background: $bg-goods-button;
        color: white;

        &:hover {
            color: $text-dark;
        }
    }

    &__card-litle {
        width: 400px;
        height: 400px;
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
        align-items: center;

        &--left-1 {
            background: url($link-to-images + 'goods-bg-left-1.png') center no-repeat;
        }

        &--left-2 {
            background: url($link-to-images + 'goods-bg-left-2.png') center no-repeat;
        }

        &--right-1 {
            background: url($link-to-images + 'goods-bg-right-1.png') center no-repeat;
        }

        &--right-2 {
            background: url($link-to-images + 'goods-bg-right-2.png') center no-repeat;
        }
    }

    &__card-litle-inner {
        width: 354px;
        height: 341px;
        border: 3px solid #FFFFFF;
        position: relative;
        transition: all 0.7s;

        &:hover {
            border: none;
            background: rgba(0, 0, 0, 0.24);

            .goods__card-litle-btn {
                display: block;
            }
        }
    }

    &__card-litle-btn {
        display: none;
        width: 109px;
        height: 42px;
        font-size: 15px;
        font-weight: 700;
        border: none;
        position: absolute;
        top: 265px;
        left: 50%;
        transform: translateX(-50%);
        transition: all 0.7s;

        background: $bg-goods-button;
        color: white;

        &:hover {
            color: $text-dark;
        }
    }
}