// Color
$bg-grey: #F2F2F2;
$bg-dark: #000;
$carusel-ind: #B2B2B2;
$carusel-ind-active: #000000;

$text-grey: #393939;
$text-dark: #000;
$text-gold: #D9BF8F;

$main-color: #D9BF8F;
$hover-duration: .5s;

$bg-banner-button: #F09D66;
$bg-goods-button: #F0975C;

//link
$link-to-images: '../../images/';