body, 
html {
    margin:0;
    padding: 0;
    height: 100%;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul, 
li {
    padding:0;
    margin:0;
    list-style: none;
}

p, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6{
    padding:0;
    margin:0;
}

button{
    border: none;
    color: transparent;
    text-align: center;
    font-family: 'TT Norms Bold';
    font-size: 14px;
}

.show-modal{
    pointer-events: none;
}