.about-us {
    display: flex;
    margin-top: 168px;
    width: 100vw;

    .about-us-img {
        width: 50%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .about-us-desc {
        width: 50%;
        max-height: 623px;
        background: $color-bg-yellow;
        padding: $services-desk-lg-offset;

        .about-us-title {
            font-weight: 900;
            font-size: 30px;
            line-height: 43px;
            text-transform: uppercase;
        
            color: $text-color-white;
        }

        .about-us-subtitle {
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: $text-color-white;
        }

        .about-us-btn {
            padding: $btn-md-offset;
            margin-top: 35px;
            border: 1px solid $btn-border-color;
            background: $color-bg-yellow;
        
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            text-transform: uppercase;
        
            color: $text-color-white;
        }
    }
}