//main
$font-family: 'Gordita', sans-serif;
$wrapper-width: 1180px;

//images
$img-path: '../img/';
$img-position: center no-repeat;

//bg-color
$color-yellow: #FFBB42;
$color-bg-yellow: #FFC155;
$color-blue: #709DCA;

//text-color
$text-color-white: #FFFFFF;
$text-color-grey: #7B7B7B;
$text-color-grey-title: #394B50;

//btn
$btn-sm-offset: 11px 25px;
$btn-md-offset: 13px 27px;
$btn-lg-offset: 13px 47px;
$btn-border-color: #E7AD48;

//header
$header-hover-color: #FFBB42;
$header-primary-text-color: #828282;
$header-hover-text-color: #FFFFFF;
$header-link-offset: 8px 16px;

//banner
$banner-dots-color-main: #DEDFE0;
$banner-dots-color-hover: #1CA8DD;

//services
$services-desk-lg-offset: 155px 161px 174px 80px;

//prices
$prices-bg-color: #E7EDF3;
$prices-subtitle-color: #75888D;
$prices-cards-title-color: #818B95;
$prices-cards-border-color: #CCD5DF;
$prices-box-border-color: #E2E9F0;
$prices-box-text-color: #B5BBC1;
$prices-box-text-color-hover: #C2E1FF;
$prices-btn-offset: 11px 25px;

//how-it-works
$how-it-works-btn-offset: 13px 33px;

//clients
$clients-offset: 100px 0 144px;
$clients-card-bg-color: #FFFFFF;
$clients-card-offset: 36px 32px 48px 190px;
$clients-name-text-color: #F2994A;
$clients-position-text-color: #394B50;

//newsletter
$newsletter-title-text-color: #394B50;
$newsletter-form-group-border-color: #CBCBCB;
$newsletter-btn-offset: 15px 57px 12px;
$newletter-map-subtitle: #AEB7BA;
